/.vs
/NeuralNetwork/obj
/NeuralNetwork/bin
/NeuralNetwork/MNIST
/MNIST
/MnistToBmp/obj
/MnistToBmp/bin
/MachineLearning/obj
/MachineLearning/bin
/WpfLibrary/obj
/WpfLibrary/bin
/DetectApp/obj
/DetectApp/bin
